a{
    text-decoration: none;
}
.active{
    background-color: rgb(255, 0, 170);
    color: black;
    font-weight: bold;
}
body{
    background-color:rgba(201, 204, 0, 0.233);
}
.bgcolor{
    background-color:rgba(35, 135, 142, 0.493);
}

.mdi-36px {
    font-size: 39px;
    margin-right: 5px;
}
.btn{
    border-radius:5px;
    
}
a:link{
    text-decoration: none;
}
a:hover{
    font-weight: 500;
    color: white;
}
