@media  screen and (max-width:567px){
     
    img{
        width: 100%;
    }  
    a:img{
        width: 85%;
        margin: auto;
    }
}

h2{
    font-family: 'Zilla Slab', serif;
}
#img:hover{
    transform: scale(1.2);
}